.input_box {
  width: 100%;
  background-color: #f8f8f8;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border-width: 0.2rem;
  border-color: black;
}

.input_box input {
  background-color: transparent;
  border: 0;
  width: 100%;
  /* border-color: black; */
  padding-inline: 0.5rem;
  color: #fff;
}

.input_box input::placeholder {
  color: #2d0036;
  font-weight: 500;
  text-transform: capitalize;
}
